:root {
  --highlight: #9dccee;
  --visited: orchid;
  --active: pink;
  --background: #0d59ac;
  --color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: url('../img/landscape-4378548_1920.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: var(--background);
  color: var(--color);
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

main {
  background-color:white;
  color:#333;
  margin:0 auto;
  margin-bottom:50px;
  max-width:55rem;
  padding: 2rem;
  width:50%;
}

h1 {
  border-bottom: 1px solid silver;
  font-family: 'Liu Jian Mao Cao', cursive;
  margin:0;
}

p {
  margin:0.5rem 0;
}

form {
  margin-top: 0.5rem;
}

input {
  margin-top: 1rem;
  padding: 3px;
  width: 75%;
}

button {
  padding: 3px;
}

footer {
  background-color: #333;
  border-top: 1px solid rgb(104, 102, 102);
  bottom:0;
  color: white;
  display: flex;
  justify-content: space-between;
  left:0;
  margin-bottom: 0;
  padding:0.5rem;
  position: fixed;
  right:0;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
  text-decoration:none;
}

td {
  vertical-align: top;
}

#list {
  border: 1px solid #333;
  min-height: 30rem;
  width:100%;
}

.listRow {
  margin-bottom:1rem;
}

.fab {
  font-size: 32px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.fa-linkedin {
  color: #0077B5;
}
